<div class="container flex mx-auto h-500 p-28 pt-2">
    <div class="bg-about-image bg-no-repeat w-1/2 ">
    </div>
    <div class="w-1/2 flex-col">
        <div class="pb-8">
            <h1 class="text-2xl uppercase font-bold">Elevate Your Performance</h1>
            <p class="text-lg">Achieve Your Personal Best with Performance-Driven Workout Gear Our workout apparel isdesigned tohelp you push past your limits. Webelieve nothing should stand between you and your peak performance, especially not your clothing.
                With afocus onfunctionality and comfort, our workout clothing ismade tokeep upwith your most intense sessions. Since 2012, we've been crafting the gear wewant towear, because we know training and the people who train best.
                </p>
        </div>
        <div class="pb-8">
            <h1 class="text-2xl uppercase font-bold">Built for the Gym</h1>
            <p class="text-lg">Our journey began in the weight room, and that dedication to fitness is woven into every piece we create. Our gym clothes are built on the foundation of a love for training, featuring the latest innovations in fitness apparel and accessories to help you recover with style.</p>
        </div>
        <div class="pb-8">
            <h1 class="text-2xl uppercase font-bold">Activewear & Athleisure</h1>
            <p class="text-lg">Beyond the Gym We provide the essentials that empower everyone to reach their potential, no matter the sport. Our Activewear collection offers the support you need to excel, whether you're on the track, in the gym, or in the studio.</p>
        </div>
    </div>
</div>
