.bg-text-pattern {
    height: 1.5rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="15"><text x="0" y="15" font-family="Arial" font-size="15" font-weight="bold" fill="black">HOTTOPIC</text></svg>');
    background-size: 100px 100%;
    color: transparent; /* Ukrycie oryginalnego tekstu */
}
