<div class="h-16 mt-6">
    <div class="bg-text-pattern h-16">
        <p class="text-6xl font-bold">HOTTOPIC</p>
    </div>
</div>
<div class="container flex mx-auto justify-between mb-12">
    <div>
        <img src="assets/images/Rectangle 4.png" alt="opis" class="">
        <h1>asdasdasdsa</h1>
        <p>asdasdas</p>
        <p>11111</p>
    </div>
    <div>
        <img src="assets/images/Rectangle 19.png" alt="opis" class="w-auto h-auto max-w-full">
        <h1>asdasdasdsa</h1>
        <p>asdasdas</p>
        <p>11111</p>
    </div>
    <div>
        <img src="assets/images/Rectangle 20.png" alt="opis" class="w-auto h-auto max-w-full">
        <h1>asdasdasdsa</h1>
        <p>asdasdas</p>
        <p>11111</p>
    </div>
</div>
