<h1 class="container mx-auto mt-24 mb-8 text-3xl font-semibold flex items-center gap-2 text-left underline">
    CHECK BLAZE COLLECTION
    <span>
        <svg data-slot="icon" fill="none" stroke="black" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
        </svg>
    </span>
</h1>
<div class="container mx-auto grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-12 mt-4">
    <div class="flex flex-col items-start">
        <img src="assets/images/Rectangle 4.png" alt="opis" class="w-full h-auto rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
        <div class="flex flex-col gap-2 mt-3">
            <h1 class="text-xl font-semibold">Product 1</h1>
            <p class="text-gray-600">Product description goes here.</p>
            <p class="text-lg font-bold">$111.00</p>
        </div>
    </div>
    <div class="flex flex-col items-start">
        <img src="assets/images/Rectangle 19.png" alt="opis" class="w-full h-auto rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
        <div class="flex flex-col gap-2 mt-3">
            <h1 class="text-xl font-semibold">Product 2</h1>
            <p class="text-gray-600">Product description goes here.</p>
            <p class="text-lg font-bold">$222.00</p>
        </div>
    </div>
    <div class="flex flex-col items-start">
        <img src="assets/images/Rectangle 20.png" alt="opis" class="w-full h-auto rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
        <div class="flex flex-col gap-2 mt-3">
            <h1 class="text-xl font-semibold">Product 3</h1>
            <p class="text-gray-600">Product description goes here.</p>
            <p class="text-lg font-bold">$333.00</p>
        </div>
    </div>
    <div class="flex flex-col items-start">
        <img src="assets/images/Rectangle 20.png" alt="opis" class="w-full h-auto rounded-lg shadow-md transition-transform duration-300 hover:scale-105">
        <div class="flex flex-col gap-2 mt-3">
            <h1 class="text-xl font-semibold">Product 4</h1>
            <p class="text-gray-600">Product description goes here.</p>
            <p class="text-lg font-bold">$444.00</p>
        </div>
    </div>
</div>
