<div class="container mx-auto h-screen flex items-center bg-gray-300">
    <div class="lg:container-lg border-2 border-opacity-25 grid grid-cols-1 lg:grid-cols-1 gap-6 p-8 mx-auto w-1/4 bg-white">
        <!-- Left Section: Headings -->
        <div class="flex flex-col text-left gap-2 pl-2">
            <h1 class="text-3xl font-bold">BECOME A HERO</h1>
            <h1 class="text-3xl font-bold">LIKE US</h1>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <div class="flex flex-col">
                <label for="Email" class="font-semibold pl-2">Email</label>
                <input type="text" placeholder="Enter your email" class="border-2 rounded-lg p-2">
            </div>
            <div class="flex flex-col">
                <label for="Password" class="font-semibold pl-2">Password</label>
                <input type="password" placeholder="Enter your password" class="border-2 rounded-lg p-2">
            </div>
            <div>
                <button class="bg-black text-white rounded-lg font-semibold p-3 w-full">Sign in</button>
            </div>
            <div>
                <a href="#" class="font-light underline pl-2">Forgot password?</a>
            </div>
        </div>
    </div>
</div>
