<!-- <div class="bg-new-gero  bg-no-repeat bg-cover mb-12 p-24" style="height: 700px;">
    <div class="container mx-auto h-full flex  flex-col justify-center">
        <h1 class="mb-2 text-3xl font-bold text-white">
            FOR HIGH-PERFORMANCE LIVES
        </h1>
        <p class="mb-1 text-white">Gear up with the latest in sportswear.</p>
        <p class="text-white">Designed to move with you every step of the way.</p>
    </div>
    <div class="flex flex-col">
        <button class="uppercase rounded-lg">shop men</button>
        <button class="uppercase rounded-lg">shop women</button>
    </div>
</div> -->
<div class="bg-new-gero bg-no-repeat bg-cover mb-12 p-24" style="height: 700px;">
    <div class="container mx-auto h-full flex flex-col justify-center">
        <h1 class="mb-8 text-5xl font-bold text-white">
            FOR HIGH-PERFORMANCE LIVES
        </h1>
        <p class=" text-white text-xl mb-1">Gear up with the latest in sportswear.</p>
        <p class="text-white text-xl mb-8">Designed to move with you every step of the way.</p>
        
        <div class="flex mt-4  items-start gap-8">
            <button class="uppercase rounded-3xl bg-gray-300 text-black py-2 px-4 mb-2" style="width: 200px;">
                shop men
            </button>
            <button class="uppercase rounded-3xl bg-white text-black py-2 px-4" style="width: 200px;">
                shop women
            </button>
        </div>
    </div>
</div>
