<nav class="flex justify-between items-center h-16 mx-auto lg:w-3/4">
    <div class="flex items-center w-1/6 h-full">
        Logo
    </div>
    <div class="flex justify-end w-5/6 h-full gap-5">
        <div class="flex items-center gap-5">
            <a href="#">Women's</a>
            <a href="#">Men's</a>
            <a href="#">Accessories</a>
            <a href="#">Community</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
        </div>
        <div class="flex gap-2 items-center">
            <button class="h-8 px-3 text-white bg-black rounded-lg">Sign in</button>
            <button class="h-8 px-3 text-black bg-gray-200 rounded-lg">Register</button>
        </div>
    </div>
</nav>
<hr>
