<nav class="flex justify-between items-center h-16 mx-auto container">
    <div class="h-full flex items-center gap-1">
        <input type="search" placeholder="Search" class="border-2 border-black border-opacity-25 rounded-lg h-8 px-2">
        <button class="border-2 border-black border-opacity-25 rounded-lg px-3 h-8 flex items-center justify-center">
            <svg fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
            </svg>
        </button>
    </div>
    <div class="flex justify-end  h-full gap-5">
        <div class="flex items-center gap-5">
            <a href="#">Women's</a>
            <a href="#">Men's</a>
            <a href="#">Accessories</a>
            <a href="#">Community</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
        </div>
        <div class="flex items-center gap-2">
            <button class="h-8 px-3 text-black bg-gray-200 rounded-lg">Sign In</button>
            <button class="h-8 px-3 text-white bg-black rounded-lg">Register</button>
        </div>
    </div>
</nav>
