<!-- <div class="container mx-auto flex p-14 gap-24 justify-center bg-gray-500">
    <div>
        <img src="assets/images/Rectangle 4.png" alt="" class="h-full">
    </div>
    <div class="h-full flex flex-col gap-12 bg-yellow-100"> 
        <div class="flex flex-col gap-7">
            <h1 class="text-2xl">Sports Bra</h1>
            <p class="bg-green-300 w-1/3 text-center rounded-md">Blaze</p>
            <h1 class="font-bold text-4xl">50$</h1>
            <p class="text-gray-300">Text</p>
        </div>
        <div class="flex gap-4"> 
            <div class="flex flex-col">
                <label for="">Size</label>
                <input type="text" placeholder="Value" class="border-2">
            </div>
            <div class="flex flex-col">
                <label for="">Color</label>
                <input type="text" placeholder="Value" class="border-2">
            </div>
        </div>
        <button class="w-full bg-black text-white rounded-lg h-8">Add to Cart</button>
    </div>
</div> -->
<!-- <div class="md:container mx-auto flex flex-col md:flex-col sm:flex-col gap-6 md:gap-2  border-2 min-h-px lg:flex-row h-full p-12">
    <div class=" md:w-full sm:w-full h-full flex justify-center">
        <img src="assets/images/Rectangle 4.png" alt="" class="h-1/2 w  object-cover"> 
    </div>
    <div class="h-full flex flex-col gap-3 pr-24 md:w-full"> 
        <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-light font-sans">Sports Bra</h1>
            <p class="bg-green-300 text-left rounded-lg font-bold text-xl items-start mr-auto p-2">Blaze</p>
            <h1 class="font-bold text-5xl">50$</h1>
            <p class="text-gray-500 font-sans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ea porro. Vel quisquam a ipsam ea numquam delectus quo repudiandae, exercitationem eum recusandae ut pariatur earum enim cupiditate mollitia quidem?</p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4 w-full"> 
            <div class="flex flex-col w-1/2">
                <label for="" class="text-black font-semibold">Size</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg">
            </div>
            <div class="flex flex-col w-1/2">
                <label for="" class="text-black font-semibold">Color</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg ">
            </div>
        </div>
        <div>
            <button class="w-full bg-black text-white rounded-lg  font-semibold text-lg p-3">Add to Cart</button>
        </div>
        <div class="border-2 border-opacity-25 rounded-lg">
            <label for="">Caption</label>
            <p>Ege szege kolege ege szege kolege</p>
        </div>
    </div>
</div> -->

<!-- <div class="md:container mx-auto flex flex-col lg:flex-row gap-6 border-2 h-full p-12"> 
    <div class="md:w-full sm:w-full sm:h-1/3 flex justify-center h-full flex-1 md:justify-start sm:justify-start "> 
        <img src="assets/images/Rectangle 4.png" alt="" class=" md:w-full object-cover "> 
    </div>
    <div class="h-full flex flex-col gap-3 pr-24 md:w-full flex-1"> 
        <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-light font-sans">Sports Bra</h1>
            <p class="bg-green-300 text-left rounded-lg font-bold text-xl items-start mr-auto p-2">Blaze</p>
            <h1 class="font-bold text-5xl">50$</h1>
            <p class="text-gray-500 font-sans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ea porro. Vel quisquam a ipsam ea numquam delectus quo repudiandae, exercitationem eum recusandae ut pariatur earum enim cupiditate mollitia quidem?</p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4 w-full md:flex-row">
            <div class="flex flex-col w-1/2">
                <label for="" class="text-black font-semibold">Size</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg">
            </div>
            <div class="flex flex-col w-1/2">
                <label for="" class="text-black font-semibold">Color</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg ">
            </div>
        </div>
        <div>
            <button class="w-full bg-black text-white rounded-lg  font-semibold text-lg p-3">Add to Cart</button>
        </div>
        <div class="border-2 border-opacity-25 rounded-lg p-4">
            <label for="">Caption</label>
            <p>Ege szege kolege ege szege kolege</p>
        </div>
    </div>
</div> -->

<div class="md:container mx-auto flex flex-col lg:flex-row  h-full p-12">
    <div class="md:w-full md:justify-start sm:justify-start sm:w-full flex justify-center h-full  lg:justify-center flex-1"> 
        <img src="assets/images/Rectangle 4.png" alt="" class="h-1/2 lg:h-full"> 
    </div>
    <div class="h-full flex flex-col gap-3 pr-24 md:w-full flex-1"> 
        <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-light font-sans">Sports Bra</h1>
            <p class="bg-green-300 text-left rounded-lg font-extralight text-xl items-start mr-auto p-2">Blaze</p>
            <h1 class="font-bold text-5xl">50$</h1>
            <p class="text-gray-500 font-sans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ea porro. Vel quisquam a ipsam ea numquam delectus quo repudiandae, exercitationem eum recusandae ut pariatur earum enim cupiditate mollitia quidem?</p>
        </div>
        <div class="flex flex-col lg:flex-row gap-4 w-full md:flex-row">
            <div class="flex flex-col w-1/2">
                <label for="" class="text-black font-semibold p-1">Size</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg">
            </div>
            <div class="flex flex-col w-1/2">
                <label for="" class="text-black font-semibold p-1">Color</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg ">
            </div>
        </div>
        <div>
            <button class="w-full bg-black text-white rounded-lg  font-semibold text-lg p-3">Add to Cart</button>
        </div>
        <div class="border-2 border-opacity-25 rounded-lg p-2">
            <label for="">Caption</label>
            <p>Ege szege kolege ege szege kolege</p>
        </div>
    </div>
</div>

