<div class="md:container mx-auto grid lg:grid-cols-2 h-full p-12 gap-6">
    <div class="flex justify-center lg:justify-center h-full md:w-full sm:justify-start lg:pl-16"> 
        <img src="assets/images/Rectangle 4.png" alt="" class="lg:h-full"> 
    </div>
    <div class="h-full flex flex-col gap-3 pr-24">
        <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-light font-sans">Sports Bra</h1>
            <p class="bg-green-300 text-left rounded-lg font-extralight text-xl items-start mr-auto p-2">Blaze</p>
            <h1 class="font-bold text-5xl">50$</h1>
            <p class="text-gray-500 font-sans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ea porro. Vel quisquam a ipsam ea numquam delectus quo repudiandae, exercitationem eum recusandae ut pariatur earum enim cupiditate mollitia quidem?</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col">
                <label for="" class="text-black font-semibold p-1">Size</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-black font-semibold p-1">Color</label>
                <input type="text" placeholder="Value" class="border-2 p-1 rounded-lg">
            </div>
        </div>
        <div>
            <button class="w-full bg-black text-white rounded-lg font-semibold text-lg p-3">Add to Cart</button>
        </div>
        <div class="border-2 border-opacity-25 rounded-lg p-2">
            <label for="">Caption</label>
            <p>Ege szege kolege ege szege kolege</p>
        </div>
    </div>
</div>
