<div class="bg-gray-300">
    <div class="mx-auto flex container justify-around my-auto pt-12 pb-24">
        <div class="flex-col">
            <div>
                <h2 class="font-bold">Use cases</h2>
            </div>
            <div>
                <ul>FAQ</ul>
                <ul>Delivery Information</ul>
                <ul>Returns Policy</ul>
                <ul>Make a Return</ul>
                <ul>Orders</ul>
                <ul>Submit a Fake</ul>
            </div>
        </div>
        <div class="flex-col">
            <div>
                <h2 class="font-bold">Explore</h2>
            </div>
            <div class="flex-col">
                <ul>Design</ul>
                <ul>Prototyping</ul>
                <ul>Development features</ul>
                <ul>Collaboration features</ul>
                <ul>Design process</ul>
            </div>
        </div>
        <div class="flex-col items">
            <div >
                <h2 class="font-bold">Resources</h2>
            </div>
            <div>
                <ul>Blog</ul>
                <ul>Best practices</ul>
                <ul>Colors</ul>
                <ul>Color wheel</ul>
                <ul>Support</ul>
                <ul>Developers</ul>
                <ul>Resource library</ul>
            </div>
        </div>
    </div>
</div>
