<div class="bg-gray-300">
    <div class="container mx-auto flex flex-col md:flex-row justify-between py-12">
        <div class="flex gap-4 mb-6 md:mb-0">
            <img src="assets/icons/X Logo.png" alt="X Logo" class="h-6">
            <img src="assets/icons/Logo YouTube.png" alt="YouTube Logo" class="h-6">
            <img src="assets/icons/Logo Instagram.png" alt="Instagram Logo" class="h-6">
            <img src="assets/icons/LinkedIn.png" alt="LinkedIn Logo" class="h-6">
        </div>
    
        <div class="text-left mb-6 md:mb-0">
            <h2 class="font-bold text-lg">Use Cases</h2>
            <ul class=" list-inside">
                <li>FAQ</li>
                <li>Delivery Information</li>
                <li>Returns Policy</li>
                <li>Make a Return</li>
                <li>Orders</li>
                <li>Submit a Fake</li>
            </ul>
        </div>

        <div class="text-left mb-6 md:mb-0">
            <h2 class="font-bold text-lg">Explore</h2>
            <ul class="list-inside">
                <li>Design</li>
                <li>Prototyping</li>
                <li>Development Features</li>
                <li>Collaboration Features</li>
                <li>Design Process</li>
            </ul>
        </div>

        <div class="text-left">
            <h2 class="font-bold text-lg">Resources</h2>
            <ul class=" list-inside">
                <li>Blog</li>
                <li>Best Practices</li>
                <li>Colors</li>
                <li>Color Wheel</li>
                <li>Support</li>
                <li>Developers</li>
                <li>Resource Library</li>
            </ul>
        </div>
    </div>
</div>
