<div class="w-full sm:w-40 md:w-64 lg:w-80 border-2 p-12 overflow-y-auto">
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">FILTER & SORT</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">SORT BY</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">PRODUCT TYPE</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">SIZE</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">FEATURES</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">FIT</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">ACTIVITY</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">COLLECTION</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">COLOR</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4 border-b">
        <h2 class="text-lg font-semibold">PATTERN</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
    <div class="flex justify-between items-center py-4">
        <h2 class="text-lg font-semibold">DISCOUNT</h2>
        <h2 class="text-lg font-semibold">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
            </span>
        </h2>
    </div>
</div>
